@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .inclined-left {
      position: relative;
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }

  @keyframes pulse {
    50% {
        opacity: .5;
    }
}
.animate-pulsing {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
}

::-webkit-scrollbar {
  width: 10px;
  height: 95%
}

::-webkit-scrollbar-track {
  background-color: #dfdede;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #f3525a;
  border-radius: 5px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}